/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}
/* End of Common Styles*/

/* Navbar */
.navbar {
  width: 100%;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 3rem;
}

.logo {
  position: absolute;
  top: 0.5rem;
  left: 4rem;
}
.logo-image img {
  width: 20rem;
  border-radius: 3rem;
  border: 0.1rem solid red;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.6);
}
.nav-list {
  position: absolute;
  top: 4rem;
  right: 4rem;
}
.nav-link {
  font-size: 4rem;
  letter-spacing: 0.4rem;
  color: #fff;
  margin: auto 2rem;
  transition: color 0.4s;
}
.nav-link:hover {
  color: #1abc9c;
}

/* End of Navbar */
.menu {
  width: 8rem;
  height: 8rem;
  position: fixed;
  z-index: 25;
  top: 2rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  visibility: hidden;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  transition: transform 0.2s;
}
.line-1 {
  width: 50%;
}
.change .line-1 {
  transform: translate(100%, 2rem) rotate(-35deg);
  transform-origin: right;
}
.line-3 {
  width: 50%;
  margin-left: auto;
}
.change .line-3 {
  transform: translateY(-2rem) rotate(35deg);
  transform-origin: right;
}
/* Menu */

/* End of Menu */
/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1505582866941-6788e0205dd2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80)
    no-repeat;
  background-size: cover;
}
.banner {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner-heading {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  height: 20rem;
  perspective: 50rem;
  overflow: hidden;
}
.banner-heading a {
  cursor: pointer;
}
.banner-heading span {
  font-family: "Oswald", sans-serif;
  font-size: 12rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateZ(8rem);
  opacity: 0;
  letter-spacing: 3rem;
}

.heading-1 {
  animation: animateHeading 12s 3s infinite;
}
.heading-2 {
  animation: animateHeading 12s 6s infinite;
}
.heading-3 {
  animation: animateHeading 12s 9s infinite;
}
.heading-4 {
  animation: animateHeading 12s 12s infinite;
}
@keyframes animateHeading {
  0% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  3% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  25% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  28% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  100% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

.banner-paragraph {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  margin: 0 auto 4rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 1s 1.5s forwards;
}
.banner-btn {
  width: 30rem;
  height: 6rem;
  background: linear-gradient(to right, #9b0e0e, #7a1010);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: 0.1rem solid red;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.6);
  text-shadow: 0.1rem 0.1rem 1.2rem;
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 1s 2s forwards;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.banner-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.5s;
}

.banner-btn:hover::before {
  left: 100%;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/* End of Section 1 */
/* Section 2 */
.section-2,
.section-3 {
  width: 100%;
  height: 100vh;
}
.section-2-container,
.section-3-container {
  padding-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.section-heading {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  font-weight: 300;
  color: #1abc9c;
}
.section-header-line {
  width: 45rem;
  height: 0.3rem;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 2rem 0;
}
.about-content {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  max-width: 1200px;
  margin: 1.5rem 0;
}
.about-img {
  border-radius: 1.5rem;
  margin: 3rem 0;
}
/* End of Section 2 */

/* Section 3 */
/* Section 2 */
.section-3 {
  width: 100%;
}
.address {
  background-color: rgba(0, 0, 0, 0.8);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.social-media {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.social-media h1 {
  text-align: center;
  font-size: 5rem;
  color: white;
  margin: 0;
  margin-bottom: 3.5rem;
}
.social-media .media-icons {
  text-align: center;
}
.social-media a {
  color: white;
  padding-left: 15px;
  align-self: center;
}
.social-media a img {
  width: 57px;
  margin-bottom: 20px;
}
.social-media a > i.fas,
.social-media a > i.fab {
  font-size: 100px;
}
.social-media a > i.fas:hover,
.social-media a > i.fab:hover {
  color: #1abc9c;
}
/* End of Section 2 */
/* End of Section 3 */

/* Section 4 */

/* End of Section 4 */

/* Media Queries */
@media only screen and (max-width: 1440px) {
  .navbar {
    height: 12rem;
    transition: height 0.5s;
  }
  .nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
  }

  .change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s 0.2s;
  }
  .nav-link {
    font-size: 8rem;
    letter-spacing: 0.3rem;
    color: #fff;
    line-height: 10rem;
    margin: 5rem 0;
    transition: color 0.4s;
    text-align: center;
  }
  .navbar.change {
    height: 100vh;
  }
  .nav-link:hover {
    color: red;
  }
  .menu {
    visibility: visible;
  }
}

/* End of Media Queries */
